.Game-Card {
  color: #282c34;
  font-size: 1.5rem;
}

.Scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  border-radius: 24px;
  height: 6em;
  background-color: white;
}

.buttons {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
